fastapi
uvicorn
python-dotenv

langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-groq
streamlit
faiss-cpu
sentence-transformers

groq
pypdf

torch==2.10.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
